input {
  height: var(--input-height);
  width: var(--input-width);
  color: var(--input-color);
  background-color: var(--input-bg-color);
  box-shadow: var(--input-box-shadow);
  font-size: var(--input-font-size);
  font-family: var(--paragraph-font-family);
  text-align: center;
  border-radius: var(--input-border-radius);
  outline: none;
  border: var(--input-border);
}
