html {
  font-size: var(--base-font-size);
}

h1,
h2,
h3 {
  font-family: var(--header-font-family);
  line-height: var(--header-line-height);
  margin: var(--header-margin-bottom) 0;
  color: var(--font-color);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
  font-family: var(--paragraph-font-family);
}

@media (max-width: 60em) {
  html {
    font-size: var(--base-medium-font-size);
  }
}

@media (max-width: 30em) {
  html {
    font-size: var(--base-small-font-size);
  }
}
